@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-wrapper{
  background: url(/12334.jpg) 50% / cover no-repeat;
  min-height: 600px;
}
.main-text-wrapper{
  padding-top: 150px;
}
.main-text-wrapper h1{
  max-width: 540px
}
.main-text-wrapper p{
  max-width: 540px
}
.section-grey{
  background-color: #f5f5f5;
}
.steps__benefits-item{
  position: relative;
  padding-left: 30px;
  /* margin-bottom: 30px; */
  /* color: white; */
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  margin: 20px 25px 20px 0;
}
.steps__benefits-item::before{
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 26px;
  height: 60px;
  margin-top: -30px;
  left: 0;
  background: url(/steps-benefit-before.png) 0 0 no-repeat;
}
.steps__benefits-item::after{
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 26px;
  height: 60px;
  right: 0;
  margin-top: -30px;
  background: url(/steps-benefit-after.png) 0 0 no-repeat;
}
.wrap-top-content{
  position: relative;
}
.top-contene{
  text-align: center;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 30px;

}
.top-contene p{
  max-width: 600px;
  display: inline-block
}
.garanty-wrapper{
  text-align: center;
  margin-bottom: 60px;
}
.garanty-wrapper img{
  width: 80px;
  display: inline-block;
  margin-bottom: 4 px;
} 
.garanty-wrapper p{
  max-width: 400px;
  display: inline-block;
  font-size: 14px;
}
.first-top-padding{
  padding-top: 220px;
}


.wrap-practics{
  text-align: center;
  margin-bottom: 50px;
  padding-top: 60px;
}
.h2-practics{
  display: inline-block;

  border-bottom: 1px solid #000;
  margin-bottom: 50px;
}
.practics-block{
  text-align: left;
  width: 100%;
  background-image: linear-gradient(to right, #e2e2e2, #eeeeee);
  /* background-color: #f5f5f5; */
  padding: 25px;
  margin-bottom: 28px;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.5); /* Параметры тени */
}
.practics-block:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.practics-block img{
  width: 40px;
  transition: all 0.2s ease 0s;
}
.practics-block:hover > img{
  transform: scale(1.2);
  /* transition: all 0.2s ease 0s; */

  margin-left: 40px;
  
}
.wrap-practics a{
  text-decoration: none;
  color: #000
}


.footer__wrapper{
  padding: 50px 0;
}
.footer{
  background-color: #ebebeb;
}
.wrapper-footer-content{
  text-align: left;
  padding: 10px;

}
.wrapper-footer-content ul{
  list-style: circle
}

.float-button-group{
  width: 200px!important;
}


.form-control{
  border-radius: 0%!important;
}

@media screen and (max-width: 576px) {
  .hidden-title{
    display: none!important;
  }
  .logo{
    width: 60px!important;

  }
  .first-top-padding{
  padding-top: 250px;
}
}

.sert-wrapper{
  /* padding: 20px;   */
  max-width: 90%;
  margin: 0 auto;
}
.padding-wrap-practics{
  padding-bottom: 60px;
}
.btn{
  border-radius: 0%!important;
}




.practice-bg-wrapper{
  background: url(/practice-background.jpg) 50% / cover no-repeat;
  min-height: 130px;
  padding-bottom: 30px
}
.aif-block{
  /* margin: 8px; */
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.5); /* Параметры тени */
}
.aif-block img{
  width: 100%;
}

.aif-block:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}


.wrap-map{
  margin-bottom: 50px;
}
.contacts-block{
  text-align: left;
  width: 100%;
  min-height: 200px;
  background-image: linear-gradient(to right, #e2e2e2, #eeeeee);
  /* background-color: #f5f5f5; */
  padding: 25px;
  margin-bottom: 28px;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.5); /* Параметры тени */
}

.contacts-block img{
  width: 40px;
  transition: all 0.2s ease 0s;
}
.contacts-block .contacts-info{
  min-height: 50px;
}
.contacts-block a{
  display: inline-block;
}
.whatsapp:hover{
  transform: scale(1.2);
  /* transition: all 0.2s ease 0s; */

  
}